// NAVIGATION

.page-header {
  position: fixed;
  z-index: 999;
  background: black;
  box-shadow: 0 10px 10px black;

  // Subtract body padding from full width
  width: calc(100% - 22px);

  > h1 {
    display: none;
  }

  a, button {
    text-decoration: none;
    font-family: Arial;
    font-size: .85em;
  }
}

nav {
  @include outer-container;
}

nav ul, 
nav ol {
  padding: 0;
  margin: 0;
}

.navigation {
  padding: $baseline 0;

  li {
    @include span-columns(4);
    @include media($small) {
      @include span-columns(3);
    }
    @include media($medium) {
      @include span-columns(2.25);
    }
  }
}

li.has-children {
  li {
    float: left;
    width: 2.75em;

    a {
      padding: 0 1.5em 0 0;
    }
  }

  > a {
    display: none;
  }
}

.view-cart-btn {
  background: transparent;
  border: none;
  color: white;
  padding: 0;
}