$body-font-size: 1em !default;
$body-line-height: 22px;
$body-font-family: 'Times New Roman', serif;

$column: golden-ratio(1em, 3) !default;
$gutter: golden-ratio(1em, 1) !default;
$grid-columns: 12 !default;
$max-width: 1100px; //golden-ratio(1em, 9) !default;
$border-box-sizing: true !default; // Makes all elements have border-box layout
$default-feature: min-width;

// Breakpoints
$small: 680px;
$medium: 960px;
$large: 1100px;
$x-large: 1370px;


// VARIABLES
$fontsize: 18px;
$bigfontsize: 26px;
$smallfontsize: 12px;
$baseline: 22px;