@import "normalize";
@import "bourbon/bourbon";
@import "settings";
@import "neat/neat";
@import "boilerplate";
@import "utils";

@import "components/header";



// GENERAL STYLES
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0 $baseline/2;
  background: black;
  color: white;
}

h1,
h2, 
h3,
p {
  font-size: $fontsize;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  max-width: 26em;
}

p + p,
p + h1,
p + h2,
p + h3 {
  margin-top: $baseline;
}

a {
  color: white;
}

body, input, textarea {
  font-family: $body-font-family;
  line-height: $baseline;
  font-size: $fontsize;
}




// CONTENT

.container {
  @include outer-container;
}

.thankyou .container {
  padding-top: $baseline * 6;
}


// ISSUES
section.issues {
  @include span-columns(12);
  @include omega();

  & > h1 {
    display: none;
  }
}

.issue {
  @include clearfix;
  padding-top: $baseline * 4;
  margin-bottom: $baseline * 6;

  .issue__title {
    margin-bottom: $baseline;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: $baseline;
    }
  }

  em {
    display: block;
    font-style: normal;
  }

  .content {
    @include media($small) {
      @include span-columns(6);
    }
  }

  .spec {
    @include media($small) {
      @include span-columns(6);
      @include omega();
    }
    @include media($medium) {
      @include span-columns(4);
    }
    margin-bottom: $baseline;
  }

  .shop {
    @include media($small) {
      @include span-columns(6);
      @include omega();
    }
    @include media($medium) {
      @include span-columns(2);
      @include omega();
    }

    form {
      margin-bottom: .2em;

      select {
        border: 2px solid white;
        font-size: .9em;
        font-family: $body-font-family;
        background: black;
        color: white;
        display: block;
        margin: ($baseline/2 + 3px) 0 $baseline/2;
      }

      button {
        border: 2px solid white;
        font-size: .85em;
        padding: .2em;
        margin-top: .38em;
        background: white;
        color: black;
        cursor: pointer;
      }
    }
  }

  .media {
    margin-top: $baseline * 3;

    @include media($small) {
      @include span-columns(12);
      @include omega();
    }
    @include media($medium) {
      @include span-columns(6);
      @include omega();
    }


    img {
      max-width: 100%;
    }
  }


}

// ISSUE 3
// ROTATING CUBE

@include keyframes(acircular3) {
  from {
    @include transform( rotateX(0deg) rotateY(0deg) );
  }
  to {
    @include transform( rotateX(0deg) rotateY(360deg) );
  }  
  50% {
    @include transform( rotateX(0deg) rotateY(180deg) );
  }
}

@include keyframes(acircular2) {
  from {
    @include transform( rotateX(0deg) rotateY(0deg) );
  }
  to {
    @include transform( rotateX(0deg) rotateY(-360deg) );
  }  
  50% {
    @include transform( rotateX(0deg) rotateY(-180deg) );
  }
}

@include keyframes(acircular) {
  from {
    @include transform( rotateX(0deg) rotateY(0deg) );
  }
  to {
    @include transform( rotateX(360deg) rotateY(0deg) );
  }  
  50% {
    @include transform( rotateX(180deg) rotateY(0deg) );
  }
}

@mixin issueCube($x, $y, $z, $animation-name) {
  .media {
    animation: $animation-name 10s infinite linear;
    width: $x;
    height: $y;
    position: relative;
    @include transition(transform 2s linear);
    transform-style: preserve-3d;

    &>div {
      position: absolute;
      height: $y;
      width: $x;
      padding: 0px;
      background: #FEFFEF;
    }

    & div:nth-child(1) {
      @include transform (translateZ($z/2));
    }

    & div:nth-child(2) {
      @include transform (rotateY(-90deg) translateZ($z/2));
      width: $z;
    }

    & div:nth-child(3) {
      @include transform (rotateY(180deg) translateZ($z/2));
    }

    & div:nth-child(4){
      @include transform (rotateY(-90deg) translateZ(- $x + ($z/2)));
      width: $z;
      background: url(/public/pages.png) repeat top left;
    }

    // Bottom side
    & div:nth-child(5) {
      @include transform (rotateX(-90deg) translateZ($y - ($z/2)) rotate(180deg));
      height: $z;
      background: repeating-linear-gradient(to top, #888 4px, rgb(230,230,205) 8px);
    }

    // Top side
    & div:nth-child(6) {
      @include transform (rotateX(90deg) translateZ($z/2));
      height: $z;
      background: repeating-linear-gradient(to top, #888 4px, rgb(230,230,195) 8px);
    }
  }
}

.csstransforms3d {

  .issue {
    perspective: 2000px;
    perspective-origin: 50% 50%;
  }

  #a-circular-3 {
    @include issueCube(400px, 600px, 32px, acircular3);
  }

  #a-circular-2 {
    @include issueCube(514px, 650px, 20px, acircular3);
  }

  #a-circular {
    @include issueCube(400px, 567px, 27px, acircular3);
  }
}

section {
  min-height: 100vh;
  & > h1 {
    margin: 0 0 $baseline;
  }
}



#contact {
  @include span-columns(12);
  padding-top: 6 * $baseline;
}
