<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{{ page.website }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ page.root_path }}templates/css/style.css">

  <script src="{{ page.root_path }}templates/js/modernizr.js"></script>
</head>
<body class="{{ page.slug }} {% block bodyclass %}{% endblock %}">
  <header class="page-header">
    <h1>{{ page.website }}</h1>
    <nav>
      {% include 'partials/navigation/navigation.html' %}
    </nav>
  </header>
  <div class="container">

    <div class="main" role="main">
    {% block main %}{% endblock %}
    </div>

    <footer>
    {% block footer %}{% endblock %}
    </footer>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ page.root_path }}templates/js/jquery.js"><\/script>')</script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/minicart/3.0.6/minicart.min.js"></script>

  <script src="{{ page.root_path }}templates/js/plugins.js"></script>
  <script src="{{ page.root_path }}templates/js/script.js"></script>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24728815-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
