{% extends "base.html" %}

{% block bodyclass %}home page{% endblock %}

{% block main %}

  {% for child in page.root %}
    <section class="{{ child.slug }}" id="{{ child.slug }}">
      <h1>{{ child.title }}</h1>
      {% if child.content %}
      <div class="content">
      {{ child.content }}
      </div>  
      {% endif %}

      {% if child.children %}
      {% if child.slug == "issues" %}
      {% for child in child.children|reverse %}
        <article id="{{ child.slug }}" class="issue">
          <div class="content">
            <h2 class="issue__title">{{ child.title }}</h2>
            {{ child.content }}
          </div>
          <div class="spec">{{ child.spec }}</div>
          <div class="shop">
            {% include 'partials/issue/shop.html' %}
          </div>

          {% include 'partials/assets/media.html' with { 'page' : child } %}

        </article>
      {% endfor %}
      {% endif %}{# /ISUUES #}
      {% endif %}

    </section>
  {% endfor %}

{% endblock %}